body { margin:0; padding:0; }

#map{
    position:absolute; top:0; bottom:0; width:100%;
}

#footer{
    position:relative;
    z-index:1;
    margin-top:50%;
}

#inputs{
    position:relative;
    width:50%;
    height:50px;
    margin-left:20%;
    background-color:white;
}

form{
   position:relative;
   background-color:white;
   padding-top:2px;
   padding-bottom:2px;
        
           
}

#inputs li{
    list-style-type:none;   
    display:inline-block;
}

